main {
    background-color: antiquewhite;
       width: 500px;
       height :650px;
   	border: 5px solid;
   	border-color: firebrick;
}

.important {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: black;
}

h1 {
    position: relative;
    right: -10px;
}

#text {
    position: relative;
    right: -10px;
    top: 10px;
    border: 7px dashed;
    border-color: orange;
    overflow: auto;
    width: 400px;
    height:200px;
    padding: 30px;
    background-color:yellow;
}

.picture {
    position: relative;
    right: -10px;

    border: 7px solid;
    border-color:orange;
}

